*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1{
  margin: 1rem 1rem;
  text-decoration: underline;
}

img.image{
  width: 91vw;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgb(116, 111, 111);
}

img.voltar{
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

p{
  font-size: 1rem;
  color: rgb(0, 0, 0);
  
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: justify;
  font-family: 'DM Sans', serif;
}

.text{
  background-color: #d8f1db;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}



/*====== Media Queries======*/
/*extra large devices: 1200>*/
@media (min-width: 1200px){
img.image{
  height: 25rem;
  width: 25rem;
  margin-left: 3rem;
}

header{
  margin-left: 2rem;
}

p{
  font-size: 1.5rem;
}

.grid{
  display: grid;
}

.container{
 grid-auto-flow: column;
 align-items: flex-start;
 justify-items: center;
}

.text{
  text-align: center;
}

img.voltar{
  position: relative;
  height: 3rem;
  top: 25.5rem;
  left: -76.5rem;
}

}